<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.wrap{
		width: 500px;
		padding:10px;
		border: 1px solid black;
		
		box-sizing: border-box;
	}
	.header{
		width: 400px;
		height: 200px;
		border: 1px solid black;
		
		margin: 10px auto;
	}
	.todoEdit{
		width: 450px;
		height: 200px;
		border: 1px solid black;
		margin: 20px auto;
	}
	.todoList{
		width: 430px;
		height: 200px;
		border: 1px solid black;
		margin: 0px auto;
	}
</style>
</head>
<body>
	<div class="wrap">
	
		<div class="header"></div>
		
		<div class="todoEdit"></div>
		
		<div class="todoList"></div>
	</div>
</body>
</html>