<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.todoEdit{
		width: 450px;
		height: 200px;
		border: 1px solid black;
		margin: 20px auto;
	}
	.todoEditwrap{
		width:100%;
		border: 1px solid black;
		display: flex;
	}
	.todo_col{
		width:80%;
		border: 1px solid black;
	}
	.reg_col{
		width:20%;
		border: 1px solid black;
	}
	.todo_col input{
	width: 80%;
	margin-top: 20px;
	border: none;
	outline: none;
	height: 30px;
	}
	.reg_col button{
	width: 100%;
	height: 54px;
	}
</style>
</head>
<body>
	<div class="todoEdit">
		<h4>새로운 todo 작성하기🖊️</h4>
		<div class="todoEditwrap">
			<div class="todo_col"><input type="text"> </div>
			<div class="reg_col"><button>버튼</button> </div>
		</div>
	</div>
</body>
</html>